.todo-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(124, 208, 241);
}
.inputform{
  width: 80%;
}
.task-list{
  width: 80%;
  margin-top:10px ;
  display: flex;
  justify-content: center;
  align-items: center;
}
